[Unit]
Description=Bind mount /var/tmp with noexec,nosuid,nodev
DefaultDependencies=no
After=local-fs.target
Before=umount.target
Conflicts=umount.target

[Mount]
What=/var/tmp
Where=/var/tmp
Type=none
Options=bind,noexec,nosuid,nodev

[Install]
WantedBy=local-fs.target
