[Unit]
Description=Bind mount /var/home with noexec,nosuid,nodev
DefaultDependencies=no
After=local-fs.target
Before=umount.target
Conflicts=umount.target

[Mount]
What=/var/home
Where=/var/home
Type=none
Options=bind,noexec,nosuid,nodev

[Install]
WantedBy=local-fs.target
